# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual environments
venv/
.venv/
env/
my-env/

# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/

__pycache__/
*.pyc
backend/static/
node_modules/
frontend/dist/